<html>
    <head>
        

        <h1>MEANING</h1>

        <h1>The movie name which you enered  : <%= word %></h1>


        <h1>PARTS OF SPEECH - <%= partOfSpeech %></h1>
        <h1>DEFINITION - <%= definition %></h1>
    </head>
</html>