<html>
    <head>
        <style>
        body{
            font-family:Cambria, Cochin, Georgia, Times;
        }
        h1{
            color:rgb(147, 147, 234)
        }
        
        .fix{
            position:fixed;
            bottom:0px;
        }    

        h2{
            color: #1e0f5d;
        }
        </style>
    </head>
    <body>
        
        <br><br>
        <h1 align="center"><%= word %></h1>

        <h2 align="center">(<%= partOfSpeech %>)</h2>
        <h2 align="center"><%= definition %></h2>
        <img class="fix" src="bg3.png" alt="footer image" width="1500px" height="150px" >
    </body>
</html>